

body {
    font-family: 'Lato', sans-serif;
    background-color: #3498db;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1 {
    color: #1e6290;
    font-weight: bold;
    margin-bottom: 30px;
}

div {
    background-color: #ffffff;
    padding: 80px;
    border-radius: 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    margin-top: 20px;
    color: #3498db;
    font-weight: bold;
}

input {
    padding: 8px;
    border: 1px solid #3498db;
    border-radius: 40px;
    outline: none;
}

button {
    margin-top: 30px;
    background-color: #3498db;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    

}

button:hover {
    background-color: #2980b9;
}

p {
    margin-top: 20px;
    margin-bottom: -15px;
    color: red;
}
